

#grid{
	display:grid;
	grid-template-rows: auto;
	/*width: 100vw;*/
		
	}

img{
	min-height: 30px;
}

p {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    text-align: center;
    min-height: 10px;
}

h6 {
    font-family: 'Lato', sans-serif;
	text-align: center;
	font-weight: bolder;
}

#filter {
	margin-left: .25em;
	margin-right: .25em;
}

.carousel{
	width: 100%;
}

#box1 {
    height: 25px;
	grid-area:box1;

}

#box2 {
	grid-area:box2;
}

#box3 {
	grid-area:box3;
	text-align: center;
}

#box4 {
	grid-area:box4;
}

#box5 {
	grid-area:box5;
}

#box6 {
	grid-area:box6;
    height:25px;
}

#box7{
	grid-area:box7;
    height: 50px;
}

#box8{
	grid-area:box8;
}

#box9{
	grid-area:box9;
	height: 50px;
}

.navbars{
	background-color: transparent;
}

.nav-item {
    font-family: 'Lato', sans-serif;
}

@media only screen and (max-width: 1600px){
    #grid{
        grid-template-columns: repeat(12, 1fr);
        grid-template-areas:
        "box1 box1 box1 box1 box1 box1 box1 box1 box1 box1 box1 box1"
        "box2 box2 box2 box9 box9 box9 box9 box9 box9 box9 box8 box8"
        "box2 box2 box2 box3 box3 box3 box3 box3 box3 box3 box8 box8"
        "box2 box2 box2 box4 box4 box4 box4 box4 box4 box4 box8 box8"
        "box2 box2 box2 box6 box6 box6 box6 box6 box6 box6 box8 box8"
        "box2 box2 box2 box5 box5 box5 box5 box5 box5 box5 box8 box8"
        "box7 box7 box7 box7 box7 box7 box7 box7 box7 box7 box7 box7";
    }
}

@media only screen and (max-width: 1400px){
    #grid {
        grid-template-columns: repeat(10, 1fr);
        grid-template-areas:
        "box1 box1 box1 box1 box1 box1 box1 box1 box1 box1"
        "box2 box9 box9 box9 box9 box9 box9 box9 box9 box8"
        "box2 box3 box3 box3 box3 box3 box3 box3 box3 box8"
        "box2 box4 box4 box4 box4 box4 box4 box4 box4 box8"
        "box2 box6 box6 box6 box6 box6 box6 box6 box6 box8"
        "box2 box5 box5 box5 box5 box5 box5 box5 box5 box8"
        "box7 box7 box7 box7 box7 box7 box7 box7 box7 box7";   
    }
}

@media only screen and (max-width: 975px){
    #grid {
        grid-template-columns: repeat(8, 1fr);
        grid-template-areas:
        "box1 box1 box1 box1 box1 box1 box1 box1"
        "box2 box9 box9 box9 box9 box9 box9 box8"
        "box2 box3 box3 box3 box3 box3 box3 box8"
        "box2 box4 box4 box4 box4 box4 box4 box8"
        "box2 box6 box6 box6 box6 box6 box6 box8"
        "box2 box5 box5 box5 box5 box5 box5 box8"
        "box7 box7 box7 box7 box7 box7 box7 box7";         
    }    
}

