body{
	min-height: 600px;
}

#grid{
	display:grid;
	grid-template-columns: auto;
	grid-template-rows: auto;
	min-height: 700px;
	width: 100vw;
	grid-template-areas:
		"box1 box1 box1 box1 box1 box1 box1 box1 box1 box1 box1 box1"
		"box2 box9 box9 box9 box9 box9 box9 box9 box9 box9 box9 box8"
		"box2 box3 box3 box3 box3 box3 box3 box3 box3 box3 box3 box8"
		"box2 box4 box4 box4 box4 box4 box4 box4 box4 box4 box4 box8"
		"box2 box5 box5 box5 box5 box5 box5 box5 box5 box5 box5 box8"
		"box2 box6 box6 box6 box6 box6 box6 box6 box6 box6 box6 box8"
		"box2 box7 box7 box7 box7 box7 box7 box7 box7 box7 box7 box8"

		
		
		
	}

.chosen-select{
	width:100%;
}

img{
	min-height: 30px;
}
h4, h5{
	text-align: center;
}

.card{
	width: 70vw;
	margin-top: 1vh;
	margin-bottom: 2vh;


}

#backbutton{
  margin: 3vw;
}



#box1{

	grid-area:box1;
	
}

#box2{

	grid-area:box2;
	width: 15vw;

	

}

#box3{
	
	grid-area:box3;
	height: 20vh;
	width: 70vw;

	

}

#box4{
	
	grid-area:box4;
	height: 5vh;
	width: 70vw;
	

}

#box5{
	
	grid-area:box5;
	height: 10vh;
	width: 70vw;
	text-align: center; 
	

}

#box6{
	
	grid-area:box6;
	height: 45vh;
	width: 70vw;




}

#box7{
	
	grid-area:box7;
	height: 10vh;
	width: 70vw;


	

}

#box8{
	
	grid-area:box8;
	width: 15vw;

}

#box9{

	grid-area:box9;
	

}





@media only screen and (min-width: 820px){



.card{
	width: 40vw;
	
}

#tvbutton{
	width: 40vw;
	

}



#box2{

	width: 30vw;

	

}

#box3{
	
	width: 40vw;

	

}

#box4{
	
	width: 40vw;
	

}

#box5{
	
	width: 40vw;
	

}

#box6{
	
	
	width: 40vw;



}

#box7{
	
	
	width: 40vw;

	

}

#box8{

	width: 30vw;

}




