body {font-family: 'Lato', sans-serif;}

#grid{
	display:grid;
	grid-template-columns: auto;
	grid-template-rows: auto;
	grid-template-areas:
		"box1 box1 box1 box1 box1 box1 box1 box1 box1 box1 box1 box1"
		"box2 box9 box9 box9 box9 box9 box9 box9 box9 box9 box9 box8"
		"box2 box3 box3 box3 box3 box3 box3 box3 box3 box3 box3 box8"
		"box2 box4 box4 box4 box4 box4 box4 box4 box4 box4 box4 box8"
		"box2 box5 box5 box5 box5 box5 box5 box5 box5 box5 box5 box8"
		"box2 box6 box6 box6 box6 box6 box6 box6 box6 box6 box6 box8"
		"box7 box7 box7 box7 box7 box7 box7 box7 box7 box7 box7 box7"

		
		
		
	}

#box1{

	grid-area:box1;


}

#box2{

	grid-area:box2;
	width: 6vh;

	

}

#box3{
	
	grid-area:box3;


}

#box4{
	
	grid-area:box4;
	
	margin-bottom: 10px

}

#box5{
	
	grid-area:box5;

}

#box6{
	
	grid-area:box6;
	height: 4vh;

}

#box7{
	
	grid-area:box7;

}

#box8{
	
	grid-area:box8;
	width: 6vh;

}

#box9{

	grid-area:box9;
	height: 10vh;

}

.navbars{
	height: 7vh;
	background-color: transparent;
}

.carousel img{
	height: 34vh;
	
}

@media only screen and (max-width: 1240px){






}

@media only screen and (max-width: 975px){

	}






@media only screen and (max-width: 655px){
}


